/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font properties */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 40px;
}
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 20px 0;
}
p {
    font-size: 1.1em;
    line-height: 1.5;
}
body {
    margin: 0 auto;
    max-width: 600px;
    background-color: #f0f0f0;
}
#student-id {
    border: blue solid 5px;
    padding: 20px;
}
span {
    font-weight: bold;
    color:  orange;
}

.highlight {
    background-color: yellow;
    color: red;
}
ol, ul {
    margin-left: 20px;
    padding-left: 20px;
}
ol li {
   list-style: lower-roman;
}

ul li {
    list-style: circle;
}